<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" media="screen">
    <link rel='stylesheet' href='../bootstrap/css/style.css' />
    <style type="text/css">
	a{margin-left: 20px; text-decoration: none;}
	a:hover{text-decoration: underline;}
    </style>
  </head>
  <body>
  <h1>Your name: <strong><%=name %></strong></h1>
    <p>Welcome to your home ~</p>
    <p><a href="/user/logout">注销</a>
    </p>
  </body>
</html>
